.advantages {
    padding: 50px 0  ;
    background-color: #F3F3F3;
   
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__unit {
        width: 50%;
        display: flex;
        // align-items: center;
        margin-bottom: 2.4rem;
        padding: 0 2rem;
    }
    &__img {
        width: 4rem;
        height: 4rem;
        opacity: .7;
    }
    &__descr {
        margin-left: 2rem;
    }
    &__title {
        font-size: 1.3rem;
        color: $accent;
        font-weight: 600;
    }
    &__text {
        font-weight: 400;
        color:rgba(0, 0, 0, 0.7);
    }
}