.agent {
    padding: 50px 0;
    text-align: center;
    background: url(../img/agent__bg.jpg)center center/cover no-repeat;
    &--2 {
        background: url(../img/agent2__bg.jpg)center center/cover no-repeat;

    }
    &__img {
        height: 5rem;
        width: 5rem;
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 1rem;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
        color: #fff;
        &:after {
            content:"";
            display:block;
            height: 1px;
            width: 10rem;
            margin: .8rem auto 0;
            background-color: $accent;
        }
    }
    &__text {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 100;
    }
}