.button {
    padding: 0 2rem;
    outline: none;
    font-size: .9rem;
    border: none;
    color: #fff;
    font-weight: 400;
    background-color: $accent;
    border-radius: $radius;

    cursor: pointer;

    &:hover {
        background-color: #b84f3c;
        // color: $accent;
        transition: .1s ease-in-out;
    }
    
    &--lg {
        width: 230px;
        height: 57px;
        font-size: 1rem;
    }
    &--md {
        width: 160px;
        height: 45px;
        font-size: 0.9rem;
    }
    &--form {
        width: 180px;
        height: 45px;
    }
}