 .title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 2rem;
    color: rgba(37, 51, 60, 0.9);


    &--decor:after {
        content:"";
        display: block;
        height: 2px;
        width: 11rem;
        background-color: $accent;
        margin: 2rem auto 0;

    }
}
.subtitle {
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    font-size: 1.4rem;
    // max-width: 840px;
    // margin: 0 auto 1.6rem;
   
}