@media (max-width: 1200px) {
    .header {
        .header__inner {
            .nav__link {
                font-size: 0.8rem;
            }
    }
        .header__contact--tel {
            .tel {
                font-size: 0.8rem!important;
            }
        }
    }
    .header__contact {
        .button {
            font-size: 0.6rem!important;
        }
    }
    .promo .circle__inner .circle:after, .promo .circle__wrapper .circle:before {
        width: 44%!important;
    }
    .promo .circle__inner .circle:after, .promo .circle__wrapper .circle:after {
        width: 44%!important;
    }
    .promo {
        .promo__descr {
            .promo__descr--unit {
                margin-bottom: 3rem;
                .promo__text {
                    padding: 0;
                }
            }
        }
    }
   
     
    .prices {
        .prices__unit {
            max-width: 220px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        .header__inner {
            flex-wrap: wrap;
            .logo {
                width: 4rem;
            }
        }
        .header__contact {
            margin-left: auto;
        }
    }
    .promo {
        .promo__subheader {
            font-size: 1.2rem;
        }
       .promo__inner {
            h1.title {
                font-size: 3.6rem;
            }
            h2.subtitle {
                font-size: 2rem;
            }
       }
       .promo__descr {
           flex-wrap: wrap;
           justify-content: space-around;
       }
       .promo__descr--unit {
           margin-bottom: 1rem;
       }
    }
    #promo {
        padding: 156px 0 100px;
    }
    .advantages {
        .advantages__unit {
            padding-right: 1rem;
        }
    }
    .about {
        .about__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .about__unit {
            margin-bottom: 2rem;
        }
        .about__unit:last-child {
            margin-bottom: 0;
        }
    }
    .prices {
        .prices__suptitle {
            font-size: 0.8rem;
        }
        .prices__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .prices__unit {
            max-width: 270px;
            margin-bottom: 1rem;
        }
       .prices__form {
        input {
            width: 200px;
        }
       }
    }
    .questions {
        .form__wrapper {
            .prices__form--questions {
                input {
                    width: 200px;
                }
            }
            .textarea {
                max-width: 623px;
            }
        }
    }
    .footer {
        .footer__header {
            flex-direction: column;
        }
        .footer__descr {
            margin-top: 0.6rem;
        }
        .footer__contact {
            margin-top: 0.6rem;
        }

    }
}

@media (max-width: 767px) {
   
   .header {
       position: relative;
       background-color: rgba(37, 51, 60, 1);

       .nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: rgba(37, 51, 60, .9);
        text-align: right;
        min-height: calc(100vh - 65px);/* otnimaem 50--eto vysota .header */

        top: 100%;/* Chto by otstupilo sverhu! */
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(100%);
        transition: transform .3s linear;

        .nav__link {
            padding: 1rem 1.9rem;
        }
        }
        .nav.show {
            display: flex;
            transform: translateX(0);
        }
           
       
        .header__inner {
            .nav__link {
                font-size: 1.6rem;
            }
            .header__contact {
                margin-left: 0;
            }
            .header--dark {

                padding: 0;
                .logo {
                    width: 3rem;
                    transition: width .3s all;
                    display: block;
                }
            }
            .burger {
                display: block;
            }
        }
        // .container {
        //     max-width: 731px;
        // }
       
       
        .header__inner {
            height: 65px;
        }

   }
   .promo {
       .promo__wrapper {
           h1.title {
               font-size: 3rem;
           }
           h2.subtitle {
               font-size: 1.6rem;
           }
           .promo__descr--unit {
               width: 50%;
           }
       }
   }
   
       h3.title {
           line-height: 1.3;
       }
    // .about {
    //     .about__wrapper {
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: center;
    //     }
    //     .about__unit {
    //         max-width: 360px;
    //         margin-bottom: 1rem;
    //     }
    // }
    .advantages {
        .advantages__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .advantages__unit {
            display: block;
            width: 100%;
            text-align: center;
            padding: 0;
            .advantages__descr{
                margin-left: 0;
            }
        }
    }
    // .button {
    //     .button:hover {
    //         // display: none;
    //         border:none;
    //         background-color: $accent;
    //         color: #fff;
    //         transition: none;
    //     }
    // }
}

@media (max-width: 575px) {
    .overlay {
        .modal {
            .modal__close {
                right: 0;
                top: -50px;
            }
        }
    }
    .slider__item {
        padding: 0 1rem;
    }
    
}
@media (min-width: 320px) and (max-width: 425px) {
    .header {
        .button {
            display: none;
        }
    }
    .promo {
        .promo__wrapper {
            h1.title {
                font-size: 2rem;
            }
            h2.subtitle {
                font-size: 1.2rem;
            }
            .promo__descr--unit {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        
    }
    .advantages {
        .advantages__wrapper {
            .advantages__unit {
                width: 100%;
            }
        }
    }
    .prices {
        .form__title {
            font-size: 1.6em;
        }
        .prices__form {
            input {
                margin-bottom: 0.2rem;
            }
            .button--form {
                width: 80%;
            }
        }
    }
    .questions {
        .prices__form {
            input {
                margin-bottom: 0.2rem;
            }
            .button--form {
                width: 80%;
            }
        }
    }
    .footer {
        text-align: center;
        .button {
            display: none;
        }
        .footer__contact--tel{
            align-items: center;
        }
        .footer__bottom {
            flex-direction: column;
        }
        .footer__inc {
            margin-bottom: 0.2rem;
        }
        .footer__bottom--conf {
            margin-bottom: 0.2rem;
        }
    }
    .overlay {
        .modal {
            width: 290px;
            padding: 20px;
            top: 60%;
            .modal__close {
                right: 0;
                top: -50px;
            }
            .feed-form {
                width: 100%;
                padding-left: 0;
                input {
                   padding: 0 10px;
                }
            }
        }
    }
    h3.title {
        font-size: 1.6rem;
    }
    h4.subtitle {
        font-size: 1.2rem;
    }
    
}
