@media (max-width: 1200px) {
    .header {
        .header__inner {
            .nav__link {
                font-size: 0.8rem;
            }
    }
        .header__contact--tel {
            .tel {
                font-size: 0.8rem!important;
            }
        }
    }
    .header__contact {
        .button {
            font-size: 0.6rem!important;
        }
    }
    .promo .circle__inner .circle:after, .promo .circle__wrapper .circle:before {
        width: 44%!important;
    }
    .promo .circle__inner .circle:after, .promo .circle__wrapper .circle:after {
        width: 44%!important;
    }
    .promo {
        .promo__descr {
            .promo__descr--unit {
                // width: 210px;
                .promo__text {
                    font-size: 0.8rem;
                    padding: 0 1rem;
                }
            }
        }
    }
    .about {
        .about__unit {
            max-width: 300px;
        }
    }
    .prices {
        .prices__unit {
            max-width: 220px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        .header__inner {
            flex-wrap: wrap;
            .logo {
                width: 4rem;
            }
        }
        .header__contact {
            margin-left: auto;
        }
    }
    .promo {
        .promo__subheader {
            font-size: 1.2rem;
        }
       .promo__inner {
            h1.title {
                font-size: 3.6rem;
            }
            h2.subtitle {
                font-size: 2rem;
            }
       }
       .promo__descr {
           flex-wrap: wrap;
           justify-content: space-around;
       }
       .promo__descr--unit {
           margin-bottom: 1rem;
       }
    }
    #promo {
        padding: 156px 0 100px;
    }
    .advantages {
        .advantages__unit {
            padding-right: 1rem;
        }
    }
    .about {
        .about__unit {
            max-width: 220px;
        }
        .about__text {
            font-size: 0.8rem;
        }
    }
    .prices {
        .prices__suptitle {
            font-size: 0.8rem;
        }
        .prices__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .prices__unit {
            max-width: 270px;
            margin-bottom: 1rem;
        }
       .prices__form {
        input {
            width: 200px;
        }
       }
    }
    .questions {
        .form__wrapper {
            .prices__form--questions {
                input {
                    width: 200px;
                }
            }
            .textarea {
                max-width: 623px;
            }
        }
    }
    .footer {
        .footer__header {
            flex-direction: column;
        }
        .footer__descr {
            margin-top: 0.6rem;
        }
        .footer__contact {
            margin-top: 0.6rem;
        }

    }
}

@media (max-width: 767px) {
   
   .header {
       position: relative;
       background-color: rgba(37, 51, 60, 1);

       .nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: rgba(37, 51, 60, .9);
        text-align: right;
        min-height: calc(100vh - 65px);/* otnimaem 50--eto vysota .header */

        top: 100%;/* Chto by otstupilo sverhu! */
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(100%);
        transition: transform .3s linear;

        .nav__link {
            padding: 1rem 1.9rem;
        }
        }
        .nav.show {
            display: flex;
            transform: translateX(0);
        }
           
       
        .header__inner {
            .nav__link {
                font-size: 1.6rem;
            }
            .header__contact {
                margin-left: 0;
            }
            .header--dark {

                padding: 0;
                .logo {
                    width: 3rem;
                    transition: width .3s all;
                    display: block;
                }
            }
            .burger {
                display: block;
            }
        }
        // .container {
        //     max-width: 731px;
        // }
       
       
        .header__inner {
            height: 65px;
        }

   }
   .promo {
       .promo__wrapper {
           h1.title {
               font-size: 3rem;
           }
           h2.subtitle {
               font-size: 1.6rem;
           }
           .promo__descr--unit {
               width: 50%;
           }
       }
   }
   
       h3.title {
           line-height: 1.3;
       }
    .about {
        .about__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .about__unit {
            max-width: 360px;
            margin-bottom: 1rem;
        }
    }
}