<footer class="footer">
    <div class="container">
        <div class="footer__header">
            <a href="">
            <img src="../../assets/img/logo.png" alt="" class="footer__img">
            </a>
            <div class="footer__descr">Global Opt - Доставка грузов из Китая в Россию и СНГ</div>
            <div class="footer__contact">
                <div class="footer__contact--tel">Есть вопросы?
                    <a class="tel" href="tel:+79264230100">+7 (926) 423 01 00</a>
                </div>
                <button data-modal="consultation" class="button">ПЕРЕЗВОНИТЕ МНЕ</button>
            </div>
        </div><!-- footer__header -->
        <div class="footer__bottom">
            <div class="footer__inc">@2020 Global Opt Inc.</div>
            <a href="#" class="footer__bottom--conf">Политика конфидециальности</a>
            <a href="https://alexxkarrstudio.com/" target="blank" class="design__contact">Designed by <br> <span>alexxkarrstudio</span></a>
        </div>
    </div><!-- container -->
</footer><!-- footer -->
