<header id="header" class="header">
    <div class="container">
        <div id="header__wrapper" class="header__wrapper">
            <a href="#"><img src="../../assets/img/logo.png" alt="" class="logo"></a>
            <nav class="nav">
                <a href="#advantages" class="nav__link"  >Преимущества </a>
                <a href="#about" class="nav__link">Наша работа </a>
                <a href="#prices" class="nav__link">Цены</a>
                <a href="#work" class="nav__link">Схема работы</a>
                <a href="#" class="nav__link">Отзывы</a>
                <a href="#questions" class="nav__link">Контакты</a>
            </nav>
            <div class="header__contact">
                <div class="header__contact--tel">Есть вопросы?
                    <a class="tel" href="tel:+79264230100">+7 (926) 423 01 00</a>
                </div>
                <button  class="button">ПЕРЕЗВОНИТЕ МНЕ</button>
            </div>
        </div>
    </div>
</header>