<header id="header" class="header">
    <div class="container">
        <div id="header__inner" class="header__inner">
            <a href="#"><img src="../../assets/img/logo.png" alt="" class="logo"></a>
            <nav id="nav" class="nav">
                <a href="#" class="nav__link" data-scroll="#advantages" >Преимущества </a>
                <a href="#" class="nav__link" data-scroll="#about">Наша работа </a>
                <a href="#" class="nav__link" data-scroll="#prices">Цены</a>
                <a href="#" class="nav__link" data-scroll="#work">Схема работы</a>
                <a href="#" class="nav__link" data-scroll="# ">Отзывы</a>
                <a href="#" class="nav__link" data-scroll="#questions">Контакты</a>
            </nav>
            <div class="header__contact">
                <div class="header__contact--tel">Есть вопросы?
                    <a class="tel" href="tel:+79264230100">+7 (926) 423 01 00</a>
                </div>
                <button  class="button">ПЕРЕЗВОНИТЕ МНЕ</button>
            </div>

            <button id="navToggle" class="burger" type="button">
                <span class="burger__line">1</span>
                <span class="burger__line">2</span>
                <span class="burger__line">4</span>
            </button>

        </div>
    </div>
</header>